.cuestionarios-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cuestionario-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
}

.puntuacion-box {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    color: white;
}

.puntuacion-rojo {
    background-color: #e57373;
}

.puntuacion-naranja {
    background-color: #ffb74d;
}

.puntuacion-amarillo {
    background-color: #fff176;
    color: black;
}

.puntuacion-amarillo-verdoso {
    background-color: #aed581;
}

.puntuacion-verde {
    background-color: #81c784;
}
